.card-body{
    background-color:#F4FA58;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.card-body1{
    background-color:#D8D8D8;
    padding: 1rem;
}

.card{
    background-color:#D8D8D8;
}
